/* Google font API CSS fetched from:
 *   http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700
 *
 * I fetched all of the src URLs in that CSS, put them in fonts/open-sans and
 * changed the src URLs to relative URLs to the files there.
 *
 * This has the advantage of letting this CSS work offline, and it also makes
 * no requests in the background to nosy services like Google’s. The
 * disadvantage is that with a large directory of documents using their own
 * copy of this CSS you will download the same ~600 kB of fonts over and over.
 *
 * This must be imported before anything else to avoid overriding any other
 * styles. */
@import "google-fonts-open-sans.css";

/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   Author: Jonathan McClare
   ========================================================================== */

/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700"); */
/* Try a color scheme generator for ideas:
 * http://www.dhtmlgoodies.com/scripts/color-schemer/color-schemer.html
 */
body {
    /*font-family: 'Open Sans', Verdana, Geneva, Helvetica, Arial, sans-serif;*/
    font-family: Georgia, Times, serif;
    /*Make default font size 20px (16px is recommended as a minimum:*/
    /*http://www.smashingmagazine.com/2011/10/07/16-pixels-body-copy-anything-less-costly-mistake/)*/
    font-size:20px;
    /*bump line height from 1.22 to 1.5 (1.4 is recommended as a benchmark:*/
    /*http://www.informationarchitects.jp/en/100e2r/)*/
    line-height: 1.5;
    width: auto;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
    color: #333;
}
h1, h2, h3, h4, h5, h6, .subheading {
    margin: 1em 0 .5em;
    font-family: 'Open Sans', Verdana, Geneva, Helvetica, Arial, sans-serif;
    /*font-family: Georgia, Times, serif;*/
    font-weight: bold;
    color: #669AD4; /* natural sky blue */
    color: #1E90FF; /* bright sky blue */
    color: #333;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
section h1, article h1 {
    font-size: 2em;
}
section section h1, article section h1 {
    font-size: 1.5em;
}
section section section h1, article section section h1, .subheading {
    font-size: 1.25em;
}
section section section section h1, article section section section h1 {
    font-size: 1.1em;
}
section section section section section h1, article section section section section h1 {
    font-size: 1em;
}
.subheading {
    margin: .5em 0;
}

/* standard margins / spacing */
p, pre, ul, ol, blockquote, address, table {
 margin: .5em 0;
 /*line-height: 1.5;*/
}
/* These were redundantly accounting for the space needed for the bullets /
 * numbers. The margin on the li tag should handle this. */
/*ul {*/
    /*margin-left: 1.5em;*/
/*}*/
/*ol {*/
    /*margin-left: 2em;*/
/*}*/
a {
    color: #D4C466; /* dimmed orange-yellow */
    color: #FFD91F; /* bright orange-yellow */
    color: #1873CC; /* dark, saturated sky blue */
}
a:visited, a:focus, a:hover {
    color: #669AD4; /* natural sky blue */
    color: #D191F2; /* faded purple */
    color: #AB99FF; /* faded blueish purple */
}
strong {
    color: #000;
}
em {
    font-family: Georgia, Times, serif;
    color: #666;
}
dt {
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
    color: #666;
}
li {
 margin: .125em 0 .125em 2em;
}
pre, code, kbd, samp {
    font-family: Inconsolata, monospace;
}
pre {
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
}
/*
 * Place this on pre tags if you want to have them not output their indenting
 * spaces. This lets you indent them in the HTML code without having them
 * indented in the output.
 *
 * Be warned though: It collapses any repeated white space characters into one.
 * You may not always want that. That’s why this is in a class and not applied
 * to the pre tag directly.
 *
 * From https://stackoverflow.com/a/31754555
 */
.collapse-white-space {
    white-space: pre-line;
}
code, kbd, samp {
    padding: 0 3px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    background-color: #F8F8F8;
    /* font-family: Terminus, monospace; */
    color: #FF421F; /* dimmed slightly blueish red */
    color: #CC7018; /* dark orange */
    color: #73CC18;/* dimmed, saturated green */
    color: #666;
}
.codeblock {
    padding: 0 6px;
    /*border: 1px solid #EAEAEA;*/
    border-radius: 6px;
}
.codeblock, .codeblock code, .codeblock kbd, .codeblock samp {
    color: #73CC18;/* dimmed, saturated green */
    color: #aaa;
    background-color: #111;
    /*line-height: 1;*/
}
.codeblock code, .codeblock kbd, .codeblock samp {
    padding: 0;
    border: none;
}
blockquote {
    margin: 1em;
}
blockquote * {
    color: #666;
    /*not sure why we had these two rules here. Maybe it was better for pre*/
    /*elements inside blockquotes?*/
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
    /*font-style: italic;*/
}
blockquote em, blockquote i {
    color: #333;
    /*font-style: normal;*/
}
blockquote, q {
    quotes: "“" "”" "‘" "’";
}
q:before { content: open-quote; }
q:after { content: close-quote; }
tr {
    margin: 1.0em 0;
}
td, th {
    padding: 0.25em;
    background-color: #eee;
    border: 3px solid white;
}
th {
    font-weight: bold;
    background-color: #ddd;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* @media only screen and (min-width: 35em) { */
@media only screen and (min-width: 720px) {
  /* Style adjustments for viewports that meet the condition */
    body {
        width: 700px;
    }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

